header {
  background: url('/img/portfolio/loft/loft-back.avif') no-repeat center center;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 150px;
}
.header__tittle,
.header__subtittle {
  display: none;
}
.header__design-tittle,
.header__design-subtittle {
  display: block;
}
.design-section {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}
.design-section__tittle {
  max-width: 50%;
  margin-bottom: 50px;
}
.design-section__content {
  display: flex;
  column-gap: 100px;
  margin-bottom: 100px;
}
.design-section__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.design-section__table div {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
}
.design-section__description {
  width: 100%;
  align-self: center;
}

.slider-gallery {
  height: 700px;
  scroll-snap-type: x mandatory;
  display: -webkit-box;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}
.slider-gallery::-webkit-scrollbar {
  display: none;
}
.slider-cell {
  height: 700px;
  display: block;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.slider-img1 {
  background: url(/img/portfolio/loft/01.avif) no-repeat center center;
  background-size: cover;
}
.slider-img2 {
  background: url(/img/portfolio/loft/loft-back.avif) no-repeat center center;
  background-size: cover;
}
.slider-img3 {
  background: url(/img/portfolio/loft/04.avif) no-repeat center center;
  background-size: cover;
}
.slider-img4 {
  background: url(/img/portfolio/loft/05.avif) no-repeat center center;
  background-size: cover;
}
.slider-img5 {
  background: url(/img/portfolio/loft/06.avif) no-repeat center center;
  background-size: cover;
}
.more__buttons,
.slider__buttons {
  display: flex;
  justify-content: space-between;
}
.more-button,
.slider-button {
  content: '';
  border-radius: 50%;
  border: 1px solid var(--main-color);
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(5px);
  opacity: 0.5;
  transition: 0.3s all ease;
}
.more-button:hover,
.slider-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.815);
  opacity: 1;
  transition: 0.3s all ease;
}
#slideLeft {
  left: 10px;
  position: relative;
  top: -350px;
}
#slideRight {
  right: 10px;
  position: relative;
  top: -350px;
}
#slideLeft::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 13px;
  width: 10px;
  height: 10px;
  border-top: solid 1px var(--button);
  border-right: solid 1px var(--button);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#slideRight::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 14px;
  width: 10px;
  height: 10px;
  border-top: solid 1px var(--button);
  border-right: solid 1px var(--button);
  -webkit-transform: rotate(-45deg);
  transform: rotate(45deg);
}
.slider-nav {
  display: flex;
  justify-content: center;
}
.design-additionally {
  margin: 150px 0 100px 0;
}
.design-additionally__tittle {
  width: 66%;
  margin-bottom: 50px;
}
.design-additionally__content {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}
.design-additionally__content div {
  width: 100%;
  /* padding-right: 5%; */
}
.design-additionally__content div:last-child {
  margin-right: 0;
}
.design-additionally__content div h4 {
  margin-bottom: 30px;
}
.design-photo {
  background: url('/img/portfolio/loft/02.avif') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.proj-features {
  margin: 100px 0 150px 0;
}
.proj-features__tittle {
  margin-bottom: 30px;
}
.proj-features__content {
  display: flex;
  justify-content: space-between;
}
.proj-features__content div {
  width: 100%;
  margin-bottom: 50px;
  column-gap: 30px;
}
.proj-features__content div:last-child {
  padding-right: 0;
}
.proj-features__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.gallery-thumb {
  width: 100%;
}

.more__tittle {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.more-links {
  width: calc(100vw - 90px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  scroll-snap-type: x mandatory;
  column-gap: 30px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}
.more-links::-webkit-scrollbar {
  display: none;
}
.more-links a {
  /* width: 300px; */
}
.more-links__cell {
  display: block;
  width: 270px;
  height: 270px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.more-links__cell1 {
  background: url(/img/portfolio/links/01.avif) no-repeat center center;
  background-size: cover;
}
.more-links__cell2 {
  background: url(/img/portfolio/links/02.avif) no-repeat center center;
  background-size: cover;
}
.more-links__cell3 {
  background: url(/img/portfolio/links/03.avif) no-repeat center center;
  background-size: cover;
}
.more-links__cell4 {
  background: url(/img/portfolio/links/04.avif) no-repeat center center;
  background-size: cover;
}
.more-links__cell5 {
  background: url(/img/portfolio/links/05.avif) no-repeat center center;
  background-size: cover;
}
.more-links__cell6 {
  background: url(/img/portfolio/links/06.avif) no-repeat center center;
  background-size: cover;
}
#moreLeft {
  left: 10px;
  position: relative;
  top: -150px;
}
#moreRight {
  right: 10px;
  position: relative;
  top: -150px;
}
#moreLeft::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 13px;
  width: 10px;
  height: 10px;
  border-top: solid 1px var(--button);
  border-right: solid 1px var(--button);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#moreRight::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 14px;
  width: 10px;
  height: 10px;
  border-top: solid 1px var(--button);
  border-right: solid 1px var(--button);
  -webkit-transform: rotate(-45deg);
  transform: rotate(45deg);
}
