header {
  background: url('/img/portfolio/loft/loft-back.avif') no-repeat center center;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 150px;
}
.header__tittle,
.header__subtittle {
  display: none;
}
.header__design-tittle,
.header__design-subtittle {
  display: block;
}
.design-section {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}
.design-section__tittle {
  max-width: 50%;
  margin-bottom: 50px;
}
.design-section__content {
  display: flex;
  column-gap: 100px;
  margin-bottom: 100px;
}
.design-section__table {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
}
.design-section__table div {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
}

.design-section__description {
  width: 40%;
  align-self: center;
}
.gallery-section {
}
.design-additionally {
  margin: 150px 0 100px 0;
}
.design-additionally__tittle {
  width: 66%;
  margin-bottom: 50px;
}
.design-additionally__content {
  display: flex;
  justify-content: space-between;
}
.design-additionally__content div {
  width: 50%;
  padding-right: 5%;
}
.design-additionally__content div:last-child {
  margin-right: 0;
}
.design-additionally__content div h4 {
  margin-bottom: 30px;
}
.design-photo {
  background: url('/img/portfolio/loft/02.avif') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.proj-features {
  margin: 100px 0 150px 0;
}
.proj-features__tittle {
  margin-bottom: 30px;
}
.proj-features__content {
  display: flex;
  justify-content: space-between;
}
.proj-features__content div {
  width: 50%;
  margin-bottom: 50px;
  padding-right: 5%;
}
.proj-features__content div:last-child {
  padding-right: 0;
}
.proj-features__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.proj-features__gallery a {
  /* display: block; */
}
.gallery-thumb {
  width: 100%;
}

.more__tittle {
  display: flex;
  justify-content: center;
}
.more__gallery {
}
.demo ul {
  max-height: 700px;
}

.slider-img {
  width: 100%;

  /* border-radius: 50%; */
}

.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: var(--button);
  height: 2px;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: var(--text-input);
  height: 1px;
  width: 50px;
}
.lSSlideOuter .lSPager.lSpg > li {
  padding: 0;
}
.lSAction > a {
  border-radius: 50%;
  backdrop-filter: blur(5px);
}

.more__gallery {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  column-gap: 30px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.more__gallery::-webkit-scrollbar {
  display: none;
}
.more__gallery-cell {
  width: 270px;
  height: 270px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.gallery-cell1 {
  background: url(/img/portfolio/links/01.avif) no-repeat center center;
  background-size: cover;
}
.gallery-cell2 {
  background: url(/img/portfolio/links/02.avif) no-repeat center center;
  background-size: cover;
}
.gallery-cell3 {
  background: url(/img/portfolio/links/03.avif) no-repeat center center;
  background-size: cover;
}
.gallery-cell4 {
  background: url(/img/portfolio/links/04.avif) no-repeat center center;
  background-size: cover;
}
.gallery-cell5 {
  background: url(/img/portfolio/links/05.avif) no-repeat center center;
  background-size: cover;
}
.gallery-cell6 {
  background: url(/img/portfolio/links/06.avif) no-repeat center center;
  background-size: cover;
}
#slideLeft {
  position: relative;
  left: 30px;
  top: -140px;
}
#slideRight {
  position: relative;
  right: 30px;
  top: -140px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons button {
  content: '';
  border-radius: 50%;
  border: 1px solid var(--main-color);
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(5px);
  opacity: 0.5;
  transition: 0.3s all ease;
}
.buttons button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.815);
  opacity: 1;
  transition: 0.3s all ease;
}
#slideLeft::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 13px;
  width: 10px;
  height: 10px;
  border-top: solid 1px var(--button);
  border-right: solid 1px var(--button);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#slideRight::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 14px;
  width: 10px;
  height: 10px;
  border-top: solid 1px var(--button);
  border-right: solid 1px var(--button);
  -webkit-transform: rotate(-45deg);
  transform: rotate(45deg);
}
