@media (max-width: 1100px) {
  .more-links,
  .content {
    max-width: 930px;
  }
  .header-top {
    max-width: 930px;
  }
  .back-button {
    right: 50px;
  }
  .about-us__list {
    margin-right: 40px;
  }
  .about-us__content {
    justify-content: space-between;
  }
  .about-us__list details[open] {
    height: 205px;
  }
  .design-section__content {
    column-gap: 30px;
  }
  .slider-cell,
  .slider-gallery {
    height: 600px;
  }
  #slideLeft,
  #slideRight {
    top: -300px;
  }
  .design-additionally__content {
    column-gap: 30px;
  }
  .design-additionally__tittle {
    width: 85%;
  }
}
@media (max-width: 800px) {
  .header-top__menu a h5 {
    color: white;
  }
  .header-top__menu a {
    margin: 0;
  }
  .header-top__menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    /* цвет фона */
    z-index: 8;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    height: 100vh;
    /* элемент невидим для событий мыши */
  }
  .navbar input[type='checkbox']:checked ~ .header-top__menu {
    opacity: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    height: 100vh;
  }
  .header-top__tel {
    margin-right: 165px;
  }

  .navbar .checkbox {
    display: block;
  }
  .navbar .hamburger-lines {
    display: flex;
    transition: all 0.5s ease;
  }
  .navbar .hamburger-lines .line {
    display: block;
  }
  .checkbox__top {
    top: 30px;
    transition: all 0.5s ease;
  }
  .about-us__list details[open] {
    height: 230px;
  }
  .about-us__content {
    flex-direction: column;
  }
  .about-us__list {
    width: auto;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .about-us__photo {
    width: auto;
  }
  .portfolio__gallery {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .div01 {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .div02 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-top: 100%;
  }
  .div03 {
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .div04 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: url('/img/portfolio/links/04.avif') no-repeat center;
    background-size: cover;
  }
  .div06 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .div07 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .div08 {
    grid-row-start: 7;
  }
  .div09 {
    background: url('/img/portfolio/links/09.avif') no-repeat center;
    background-size: cover;
    grid-row-start: 7;
  }
  .div10 {
    background: url('/img/portfolio/links/10.avif') no-repeat center;
    background-size: cover;
    grid-row-start: 8;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .div11 {
    display: none;
  }
  .div12 {
    display: none;
  }
  .div13 {
    display: none;
  }
  .div14 {
    display: none;
  }
  .div15 {
    display: none;
  }
  .div16 {
    display: none;
  }
  .div17 {
    display: none;
  }
  .back-button {
    right: 30px;
    width: 50px;
    height: 50px;
  }
  .more-links__cell {
    width: 325px;
    height: 325px;
  }
  .design-section__content {
    flex-direction: column;
    margin-bottom: 50px;
    row-gap: 30px;
  }
  .proj-features {
    margin-bottom: 95px;
  }
  .design-additionally {
    margin-top: 100px;
  }
  .request-btn {
    margin: 100px 0;
  }
  .slider-cell,
  .slider-gallery {
    height: 500px;
  }
  #slideLeft,
  #slideRight {
    top: -250px;
  }
  .design-photo {
    height: 500px;
    background-attachment: local;
  }
}
@media (max-width: 700px) {
  h1 {
    /* H1_mob */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  h2 {
    /* H2_mob */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  h3 {
    /* Н3_mob */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  h4 {
    /* Н4_mob */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
  h6 {
    font-size: 16px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .portfolio {
    width: 100vw;
  }
  .content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .more-links {
    width: calc(100vw - 30px);
  }
  .header-top {
    justify-content: flex-start;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-top__tel {
    margin-right: 0px;
    margin-left: 35px;
  }
  .hamburger-lines {
    right: 15px;
  }
  .checkbox {
    right: 15px;
  }
  .portfolio__gallery {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .div01 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .div02 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 100%;
  }
  .div03 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .div04 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
    background: url('/img/portfolio/links/04.avif') no-repeat center;
    background-size: cover;
  }
  .div05 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .div06 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .div07 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .div08 {
    display: none;
  }
  .div09 {
    display: none;
  }
  .div10 {
    display: none;
  }
  .modal__content {
    padding: 15px;
  }
  .modal__form {
    flex-direction: column;
  }
  .modal__form-name {
    width: 100%;
    margin-right: 0;
  }
  .modal__form-tel {
    width: 100%;
  }
  .modal__links {
    flex-direction: column;
  }
  .modal__btn-link {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .modal__close {
    width: 30px;
    height: 30px;
    right: 20px;
  }
  .modal__close::before {
    width: 30px;
  }
  .modal__close::after {
    width: 30px;
  }
  .modal-send__content {
    padding: 30px 10px;
  }
  .modal-send__close {
    width: 30px;
    height: 30px;
    right: 20px;
  }
  .modal-send__close::before {
    width: 30px;
  }
  .modal-send__close::after {
    width: 30px;
  }
  .more-links {
    width: calc(100vw - 30px);
  }
  .request-link h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .arrow {
    top: 0;
  }
  .slider-cell,
  .slider-gallery {
    height: 300px;
  }
  .design-section__tittle {
    max-width: 100%;
  }
  .design-additionally__content {
    flex-direction: column;
    row-gap: 30px;
  }
  #slideLeft,
  #slideRight {
    top: -150px;
  }
  .design-photo {
    height: 250px;
  }
  .proj-features__content {
    flex-direction: column;
  }
  .proj-features__gallery {
    display: flex;
    flex-direction: column;
  }
  .proj-features {
    margin-bottom: 70px;
  }
  .request-btn {
    margin: 70px 0;
  }
  .design-additionally__tittle {
    width: 100%;
  }
}
