:root {
  --body-text: #777777;
  --main-color: #777777;
  --bg: rgba(0, 0, 0, 0.6);
  --text-input: #adadad;
  --light-bg: #d5d5d5;
  --footer: #f7f7f7;
  --button: #393246;
  --white: #ffffff;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--white);
  /* прижатие подвала к низу при путой странице */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  /* конец прижатия */
}
h1 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 140px;
  line-height: 164px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
h1 .mob {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 140px;
  line-height: 164px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
h2 {
  /* Title Н2-40 */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
h2 .mob {
  /* H2_mob */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
h3 {
  /* title Н3-30 */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
h3 .mob {
  /* Н3_mob */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
h4 {
  /* title Н4-20 */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
h4 .mob {
  /* Н4_mob */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
h5 {
  /* Menu 14 */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
h6 {
  /* subtitle 18 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
p {
  /* body text - 16 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
p .small-text {
  /* small text - 13 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
p .number {
  /* number */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* кнопка для возврата на начало страницы */

.top-icon {
  border-top: 1px solid var(--button);
  border-left: 1px solid var(--button);
  transform: rotate(45deg) translateX(3px) translateY(3px);
  width: 12px;
  height: 12px;
}
.back-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -40px;
  right: 40px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
}
.back-button-hide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: none;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
}
/* кнопка для возврата на начало страницы конец*/

/* наша команда  */
details summary {
  list-style: none;
}

.about-us {
  margin-top: 150px;
  color: var(--body-text);
}
.about-us__tittle {
  margin-bottom: 50px;
}
.about-us__content {
  display: flex;
}
.about-us__list {
  margin-right: 100px;
  width: 42%;
}
.about-us__list summary svg {
  transform: rotate(45deg);
  stroke: var(--body-text);
  transition: all 0.3s ease-out;
}
.about-us__list summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-top: 1px solid var(--light-bg);
  /* margin-bottom: -1px; */
  cursor: pointer;
}
.about-us__list summary:last-child {
  border-bottom: 1px solid var(--light-bg);
}
.about-us__list summary:hover {
  color: var(--button);
}
.about-us__list summary:hover > svg {
  stroke: var(--button);
}
.about-us__list details[open] > summary {
  border-bottom: none;
}
.about-us__list details[open] > summary svg {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
.about-us__list details {
  padding-bottom: 0;
  height: 80px;
  transition: all 0.3s ease-out;
}
.about-us__list details[open] {
  padding-bottom: 25px;
  height: 200px;
  transition: all 0.3s ease-out;
}
.about-us__list details[open]:last-child {
  border-bottom: 1px solid var(--light-bg);
}
.about-us__list h6 {
  margin-bottom: 50px;
}
.about-us__photo {
  background: url('/img/01.png') no-repeat center;
  width: 50%;
  height: 500px;
}

/* портфолио */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* портфолио гелерея */
.portfolio__gallery {
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.gallery-div {
  background-color: var(--footer);
  border: var(--button) solid 1px;
  position: relative;
}
.gallery-div::before {
  display: block;
  content: '';
  width: 100%;
}
.gallery-div > div {
  position: absolute; /* абсолютное положение элемент */
  /* положение элемента */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.div01 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.div02 {
  padding-top: 100%;
}
.div03 {
}
.div04 {
}
.div05 {
}
.div06 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.div07 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.div08 {
}
.div09 {
}
.div10 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.div11 {
  grid-row-start: 5;
  grid-row-end: 7;
}
.div12 {
}
.div13 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}
.div14 {
}
.div15 {
}
.div16 {
}
.div17 {
  grid-column-start: 1;
  grid-column-end: 3;
}
